.box{
    
    display: flex;
    
    margin-top: 50px;
    text-align: center;
    height: 100vh;
    gap:20px;
    width:100%;
    
}
.leftbox{
                 /* make inner content flex too */
  flex-basis: 50%;     /* center content vertically */
  text-align: center;
  padding-top: 260px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  border: 2px solid #050505;
  border-radius: 8px;

}
.rightbox{
                 /* make inner content flex too */
  flex-basis: 50%;     /* center content vertically */
  text-align: center;
  padding-top: 100px;
  height: 500px;
  background-color: rgb(0, 0, 0);
  border: 2px solid #050505;
  border-radius: 8px;
  margin-left:100px;
  color: rgb(89, 91, 91);

}
.in{
   width: 181px;    /* increase width */
  height: 60px;    /* increase height */
  font-size: 30px; 
}
.uploaded-image {
  width: 100%;
  height: 100%;
  padding-left: 75px;
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: contain;
  
}
.prediction{
  text-align: left;
  padding-left: 100px;
}
.confidence{
  text-align: left;
  padding-left: 100px;
}
.image-box{
  width:300px;
  height:200px;
  overflow: hidden;
}
